/* frontend/src/components/FilterBar.css */
.filters {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
  margin: 20px 0;
}

.filter-btn {
  background: #e60000;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s;
}

.filter-btn:hover {
  background: #c40000;
}

.filter-btn.active {
  background: #2B3A67;
}
